.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: $greyBackground;
  padding: 2rem 1rem;

  &__title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 1rem;
  }

  &__texte {
    text-align: center;
    color: #656565;
    margin-bottom: 2rem;
  }
  &__btn {
    margin-bottom: 1.5rem;
  }
}

.process {
  display: flex;
  flex-direction: column;
  width: auto;

  &__title {
    font-size: 22px;
    margin: 2rem 0 1rem;
    padding: 0 1rem;
  }

  &__listing {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 1.5rem;
  }
  &__number {
    border-radius: 500px;
    background-color: $primary;
    width: 0.7rem;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 3px 8px 3px 8px;
    transform: translateX(-40%) translateY(260%);
  }
  &__icon {
    width: 1rem;
    font-size: larger;
    transform: translateX(250%) translateY(225%);
  }
}
