.footer {
  background-color: $footerDark;
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding: 1rem;
  }

  &__title a {
    font-family: "Shrikhand";
    font-size: 18px;
    color: white;
  }

  &__element {
    display: flex;
    flex-direction: row;
    &:nth-child(5) {
      padding-bottom: 4rem;

      @media (min-width:1000px){
        padding-bottom: 0;
      }
    }
    @media (min-width: 1000px) {
      margin: auto;
    }
  }
  &__icon {
    color: white;
    margin-right: 1rem;
    padding: 0 0 0.5rem 1rem;
    font-size: 12px;
  }
  &__link {
    color: white;
    font-size: 14px;
    padding-bottom: 0.5rem;

    &--secondary {
      padding: 0 0 0.5rem 1rem;
    }
  }
}

.iconAjusted {
  margin-left: -0.3rem;
}
