./Img/maquettes/Animations
./Img/maquettes/Menu - À la française.png
./Img/maquettes/Menu - La note enchantée.png
./Img/maquettes/Menu - La palette du goût.png
./Img/maquettes/Menu - Le délice des sens.png
./Img/maquettes/Oh my food - Textes.txt