./img/maquettes/Animations
./img/maquettes/Menu - À la française.png
./img/maquettes/Menu - La note enchantée.png
./img/maquettes/Menu - La palette du goût.png
./img/maquettes/Menu - Le délice des sens.png
./img/maquettes/Oh my food - Textes.txt