@import url("https://fonts.googleapis.com/css?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}
@keyframes loader {
  0% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s ease-in-out;
  opacity: 0;
}
.loader__lettre {
  color: #9356DC;
  font-size: 7vw;
  letter-spacing: 4vw;
  animation: flash 1.2s linear infinite;
}
.loader__lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader__lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader__lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.loader__lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader__lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader__lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader__lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader__lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.loader__lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.loader__lettre:nth-child(10) {
  animation-delay: 0.1s;
}

.hero__btn {
  background: #ee73da;
  background: linear-gradient(180deg, #ee73da 0%, #a05adc 100%);
  box-shadow: 0 0.3rem 16px #999999;
  width: auto;
  height: 3rem;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
}
.hero__btn:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.process__btn {
  width: auto;
  height: 4.1rem;
  background-color: #f6f6f6;
  box-shadow: 0 0.3rem 16px #bdbbbb;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 1rem;
  padding: 0 1rem;
  cursor: pointer;
}
.process__btn:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background-color: #9356DC;
}

.restaurants__heart {
  position: absolute;
  width: 50px;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  margin: 12.3rem 1rem 0 0;
}

.heart__Svg--full {
  height: 1.5rem;
  fill: url(#heart-full);
}

.heart__Svg--empty {
  position: absolute;
  height: 1.5rem;
  fill: white;
  stroke: black;
  stroke-width: 20px;
}
.heart__Svg--empty:hover {
  opacity: 0;
  transition: 0.5s;
}

.header {
  height: auto;
}
.header__logo {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  font-size: 32px;
  font-weight: bold;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: #acacac;
  background: linear-gradient(180deg, #acacac 0%, #dddddd 6%, #e9e9e9 100%);
}
.localisation__icon {
  margin-right: 1rem;
  color: black;
}
.localisation__texte {
  font-family: "Roboto";
  font-size: 15px;
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.hero__title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 1rem;
}
.hero__texte {
  text-align: center;
  color: #656565;
  margin-bottom: 2rem;
}
.hero__btn {
  margin-bottom: 1.5rem;
}

.process {
  display: flex;
  flex-direction: column;
  width: auto;
}
.process__title {
  font-size: 22px;
  margin: 2rem 0 1rem;
  padding: 0 1rem;
}
.process__listing {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 1.5rem;
}
.process__number {
  border-radius: 500px;
  background-color: #9356DC;
  width: 0.7rem;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 3px 8px 3px 8px;
  transform: translateX(-40%) translateY(260%);
}
.process__icon {
  width: 1rem;
  font-size: larger;
  transform: translateX(250%) translateY(225%);
}

.restaurants {
  background-color: #f6f6f6;
  margin-top: 3rem;
  justify-content: center;
}
.restaurants__title {
  padding-top: 2rem;
  margin-left: 1rem;
  font-size: 22px;
}
.restaurants__container {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
.restaurants__element {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem 1rem;
  height: 16rem;
  width: 21rem;
  margin: 0 1rem;
}
.restaurants__element:nth-child(4) {
  margin-bottom: 4rem;
}
.restaurants__element:hover {
  scale: 1.03;
  transition: 0.5s;
}
.restaurants__new {
  position: absolute;
  transform: translateX(310%) translateY(40%);
  object-fit: cover;
  text-align: center;
  font-size: 14px;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.5rem;
  width: 4rem;
  border-radius: 0.3rem;
}
.restaurants__img {
  height: 11rem;
  width: auto;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__name {
  font-weight: bold;
  font-size: 18px;
  margin: 1rem 0 0 1rem;
}
.restaurants__localisation {
  font-size: 18px;
  margin: 0.3rem 0 0 1rem;
  color: black;
  font-weight: lighter;
}

.footer {
  background-color: #353535;
}
.footer__title {
  padding: 1rem;
}
.footer__title a {
  font-family: "Shrikhand";
  font-size: 18px;
  color: white;
}
.footer__element {
  display: flex;
  flex-direction: row;
}
.footer__element:nth-child(5) {
  padding-bottom: 4rem;
}
.footer__icon {
  color: white;
  margin-right: 1rem;
  padding: 0 0 0.5rem 1rem;
  font-size: 12px;
}
.footer__link {
  color: white;
  font-size: 14px;
  padding-bottom: 0.5rem;
}
.footer__link--secondary {
  padding: 0 0 0.5rem 1rem;
}

.iconAjusted {
  margin-left: -0.3rem;
}

/*# sourceMappingURL=style.css.map */
