.hero__btn {
  @include colorBtn;
}

.process__btn {
  @include whiteBtn;

  &:hover {
    @include hoverBtn;
    background-color: $primary;
  }
}

.restaurants__heart,
.menu__heart {
  position: absolute;
  width: 50px;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  margin: 12.3rem 1rem 0 0;
}

.heart__Svg--full {
  height: 1.5rem;
  fill: url(#heart-full);
}

.heart__Svg--empty {
  position: absolute;
  height: 1.5rem;
  fill: white;
  stroke: black;
  stroke-width: 20px;
  &:hover {
    opacity: 0;
    transition: 0.5s;
  }
}

.menu__element {
  @include whiteBtn;
  opacity: 0;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  &:hover .validation__box {
    opacity: 1;
    animation: slideLeftValidation 1s ease;
  }
  &:hover .menu__price {
    animation: slideLeftPrice 1s ease;
    animation-fill-mode: forwards;
  }
  &:hover .fa-check-circle {
    animation: rotate 1s ease;
  }
  &:hover .menu__description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover .menu__name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media (min-width: 600px) {
    max-width: 60%;
    margin: 0 20%;
  }
}

.menu__btn {
  @include colorBtn;
  width: 50%;
  max-width: 200px;
}
